# 載入套件

In [1]:
import math as math
import numpy as np
import pandas as pd

# 參數設定

In [2]:
#p = 本金
#r = 利率
#t = 期數(年)
p = 100000
r = 0.05
t = 7

# 建立list以儲存資料

In [3]:
period_list=[]
principal_list=[]
interest_list=[]
total_list=[]
rest_list=[]

# 寫入迴圈進行運算

In [4]:
payment = math.ceil((p/(t*12)))            #計算每期該還本金(取無條件進位)
total   = 0
for month in range(0,12*t):
    interest  = round(p*r/12)              #償還利息(取四捨五入)
    if (month == ((12*t)-1)):
        payment = p                        #最後一期結清本金
    total     = total + payment + interest #本金利息累計
    period    = month + 1                  #期數
    p         = p - payment                # 剩餘未還本金
    period_list.append(period)
    principal_list.append(payment)
    interest_list.append(interest)
    total_list.append(total)
    rest_list.append(p)

# 將資料轉成DataFrame

In [5]:
d = {'期數':period_list,'償還本金':principal_list,'償還利息':interest_list,
     '本金利息累計':total_list,'剩餘未還本金':rest_list}
table = pd.DataFrame(data=d)
table

    期數  償還本金  償還利息  本金利息累計  剩餘未還本金
0    1  1191   417    1608   98809
1    2  1191   412    3211   97618
2    3  1191   407    4809   96427
3    4  1191   402    6402   95236
4    5  1191   397    7990   94045
..  ..   ...   ...     ...     ...
79  80  1191    25  112932    4720
80  81  1191    20  114143    3529
81  82  1191    15  115349    2338
82  83  1191    10  116550    1147
83  84  1147     5  117702       0

[84 rows x 5 columns]